:not(input):not(textarea) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

html, body {
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
  font-size: 20px;
  height: 100%;
  line-height: 1.4;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  html canvas, body canvas {
    background-color: #EEEEEE;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    position: absolute;
    margin: auto;
    min-width: 320px;
    max-width: 800px;
    min-height: 240px;
    max-height: 600px;
    overflow: hidden; }
  html #fpscounter, body #fpscounter {
    bottom: 20px;
    display: block;
    left: 20px;
    position: absolute;
    left: auto;
    right: 20px; }
