$firstColor: #FFFFFF;
$secondColor: #E7F3FF;
$thirdColor: #BFE5FF;
$fourthColor: #99D9FF;
$fifthColor: #7FD9FF;

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

$pinguinPosition: 16em;
$pinguinHeight: 5em;

body {
    background: $secondColor;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    .cloud {
        left: -30%;
    	background: $firstColor;
        border-radius: 45%;
    	height: 2em;
        top: 3em;

    	position: relative;
    	width: 4em;
        &.bigger {
            -ms-transform: scale(2); /* IE 9 */
            -webkit-transform: scale(2); /* Safari */
            transform: scale(2);
            top: 6em;
            -webkit-animation-delay: 3s; /* Safari 4.0 - 8.0 */
            animation-delay: 3s;
            -webkit-animation-duration: 50s; /* Safari 4.0 - 8.0 */
            animation-duration: 50s;
        }
        &.delayed {
            top: 4em;
            -webkit-animation-delay: 11s; /* Safari 4.0 - 8.0 */
            animation-delay: 11s;
        }

        @include animation('cloudTransition 40s infinite');

        &::before, &::after {
            background: #fff;
            content: '';
            position: absolute;
            border-radius: 50%;
            z-indeX: -1;
        }
        &::before {
            width: 1.5em;
            height: 1.5em;
            top: -0.5em;
            left: 0.5em;
        }
        &::after {
            width: 2em;
            height: 2em;
            top: -1em;
            left: 1.5em;
        }

    }


    #ground {
        position: absolute;
        background: $fourthColor;
        top: 18em;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
    #pinguin {
        #body {
            position: relative;
            margin: 0 auto;
            z-index: 2;
            background: #000;
            top: $pinguinPosition;
            width: 3em;
            height: $pinguinHeight;
            border-top-right-radius: 50%;
            border-top-left-radius: 40%;
            border-bottom-left-radius: 6%;
            border-bottom-right-radius: 32%;
            @include animation('bounce 1s cubic-bezier(.63,.09,.75,.46) infinite alternate');

            &::before {
                position: absolute;
                content: " ";
                height: 3em;
                top: 2em;
                width: 2em;
                background-color: $firstColor;
                border-top-right-radius: 10%;
                border-top-left-radius: 80%;
                border-bottom-left-radius: 38%;
                border-bottom-right-radius: 32%;
                left: 1em;
            }
        }
        .foot, #left, #right {

            position: relative;
            top: $pinguinPosition;
            margin: 0 auto;
            height: 0.5em;
            width: 1em;
            background-color: orange;
            border-radius: 50%;
            // @include animation('bounce .5s cubic-bezier(.63,.09,.75,.46) infinite alternate');
            z-index: 2;
        }
        $leftFootPosition: $pinguinPosition + 0.5;
        #left {
            top: $leftFootPosition;
            left: -1em;
        }
        #right {
            left: 1em;
        }
    }
}

@include keyframes(cloudTransition) {
    0% { left: -30%; }
    100% { left: 150%; }
}

@include keyframes(bounce) {
    0% { top: $pinguinPosition; }
    10% { top: $pinguinPosition + 0.2;  }
    20% { top: $pinguinPosition + 0.4; }
    30% { top: $pinguinPosition + 0.6; }
    40% { top: $pinguinPosition + 0.8; }
    50% { top: $pinguinPosition + 1; /*transform: rotate(20deg);*/ }
    60% { top: $pinguinPosition + 0.8; }
    70% { top: $pinguinPosition + 0.6; }
    80% { top: $pinguinPosition + 0.4; }
    90% { top: $pinguinPosition + 0.2; }
    100% { top: $pinguinPosition; }
}
